# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== Database =====
*.db
*.sqlite3
back/instance/

# ===== Crawling / Generated =====
back/crawled_data/
data/
logs/
*.log
*.csv
*.zip
*.txt

# ===== Front =====
node_modules/
build/
dist/

# ===== IDE =====
.vscode/
.idea/
.gemini/
