/* Category.module.css */
* {
    margin: 0 auto;
}

.sub {
    width: 1200px;
    height: 120px;
}

.sub button {
    width: 90px;
    height: 100px;
    background-color: white;
    border: none;
}

/* .sub_ctgr {
    border: none;
    background: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
} */

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}