/* Category.module.css */
.category * {
    margin: 0 auto;
}

.sub {
    width: 1200px;
    height: 120px;
}

.sub button {
    width: 90px;
    height: 100px;
    background-color: white;
    border: none;
}

.sub_ctgr {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub_ctgr p {
    margin-top: 8px;
    font-size: 12px;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.container {
    width: 1200px;
}

.col {
    width: 20%;
    height: 280px;
    margin-left: 0;
    margin-right: 0;
}

.col img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 15px 0 12px;
}

/* module.css는 class 이름을 바꿔버리기 때문에 global 꼭 필요 ! */
.page :global(.page-link) {
    border: none;
    color: #000;
    outline: 3px none #fff;
}

.page :global(.page-item.active .page-link) {
    background-color: #f2f2f2;
    font-weight: 600;
}

.page :global(.page-link:hover) {
    background-color: #f2f2f2;
    color: #000;
}

.page :global(.page-item.disabled) {
  display: none;
}