/* Product.module.css */
.content {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.product {
    width: 500px;
    height: 500px;
}

.product img {
    width: 100%;
    max-height: 500px;
}

.text {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 22px;
    font-weight: 700;
}

.row {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.label {
    width: 150px;
    color: #777;
    font-size: 16px;
    text-align: left;
}

.price {
    font-size: 20px;
    font-weight: 800;
}

.value {
    font-size: 16px;
}

.qty {
    width: 30px;
    height: 35px;
    text-align: center;
    border: none;
    margin-right: 5px;
    background-color: white;
}

.qty img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.num {
    width: 30px;
    text-align: center;
    border: none;
}

.num::-webkit-inner-spin-button,
.num::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.row .qty:first-of-type {
  margin-left: -8px;
}

.value + .qty {
  margin-left: 5px;
}

.button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.wishBtn {
    width: 50px;
    border: 1px solid #bbd2e6;
    background: #fff;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 0;
}

.cartBtn {
    flex: 1;
    border: 1px solid #bbd2e6;
    background: #fff;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 0;
}

.buyBtn {
    flex: 1;
    border: 0;
    background: #bbd2e6;
    color: #fff;
    border-radius: 10px;
    font-weight: 800;
    padding: 10px 0;
}

.detailNav {
    display: flex;
    border: 1px solid #ddd;
    margin: 40px 0 10px;
    position: sticky;
    top: 0;
}

.detailNav button {
    flex: 1;
    padding: 12px 0;
    border: none;
    background: #e8eef8;
    font-weight: 600;
    cursor: pointer;
}

.detailNav button:not(:last-child) {
  border-right: 1px solid #ccc;
}

.detailNav button.active {
  background: white;
  font-weight: 700;
  margin-bottom: -1px;
  border-bottom: 2px solid #fff;
}

.detailpage {
    text-align: left;
    padding: 20px 0;
}

.infoList {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.8;
    list-style: none;
}

.infoList li {
    margin-bottom: 6px;
}

.revbtn {
    display: flex;
    justify-content: space-between;
}

.revsort {
    border: none;
    background-color: white;
}

.review_pagination :global(.page-link) {
    border: none;
    color: #000;
    outline: 3px none #fff;
}

.review_pagination :global(.page-item.active .page-link) {
    background-color: #f2f2f2;
    font-weight: 600;
}

.review_pagination :global(.page-link:hover) {
    background-color: #f2f2f2;
    color: #000;
}

.review_pagination :global(.page-item.disabled) {
  display: none;
}