/* src/pages/Login.css */
.loginWrap{
  min-height: 100vh;
  background: #e9e9e9;
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 24px;
}

.loginCard{
  width: 800px;
  /* height: 1590px; */
  background:#f4f4f4;
  padding: 18px 16px 22px;
  border: 1px solid #bfbfbf;
}

.brandBox{
  position: relative;
  display:flex;
  align-items:center;
  border: 1px solid #bfbfbf;
  background:#fff;
  height: 86px;
  margin-bottom: 14px;
}

.brandLogo{
  width: 86px;
  height: 86px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-right: 1px solid #bfbfbf;
}
.brandLogo img{
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}

.brandTitle{
  font-size: 42px;
  font-weight: 700;
  padding-left: 18px;
  color:#333;
  position: absolute;
}

.input{
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
  padding: 0 14px;
  margin-bottom: 10px;
  background:#fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.rowBetween{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap: 10px;
  margin: 6px 0 10px;
}

.sectionLabel {
  font-size: 13px;
  font-weight: 700;
  color: #333;
  border: 1px solid #777;
  background: #fff;
  padding: 4px 10px;
  display: inline-block;
  margin: 6px 0 10px;
}

.check{
  font-size: 12px;
  display:flex;
  align-items:center;
  gap: 6px;
  white-space: nowrap;
}

.linkBtn{
  font-size: 11px;
  border: 1px solid #777;
  background:#fff;
  padding: 4px 10px;
  cursor:pointer;
  white-space: nowrap;
}

.primaryLogin{
  width:100%;
  height: 42px;
  border: 1px solid #9bbad1;
  background:#cfe3f2;
  font-weight: 700;
  cursor:pointer;
}

.line{
  border: none;
  border-top: 2px solid #6f6f6f;
  margin: 16px 0;
}

.social{
  width:100%;
  height: 44px;
  border: 0;
  font-weight: 800;
  cursor:pointer;
  margin-top: 10px;
}

.kakao{ background:#ffe600; }
.naver{ background:#11c20f; color:#fff; }
.signup{ background:#cfe3f2; border: 1px solid #9bbad1; }
