.loginWrap{
  min-height: 100vh;
  background: #e9e9e9;
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 24px;
}


.loginCard{
  width: 100%;
  max-width: 520px;   /* 필요하면 560~600까지 조절 */
  background:#f4f4f4;
  padding: 18px 16px 22px;
  border: 1px solid #bfbfbf;
}


.brandBox{
  position: relative;
  display:flex;
  align-items:center;
  border: 1px solid #bfbfbf;
  background:#fff;
  height: 86px;
  margin-bottom: 14px;
}

.brandLogo{
  width: 86px;
  height: 86px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-right: 1px solid #bfbfbf;
}
.brandLogo img{
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}

.brandTitle{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 42px;
  font-weight: 700;
  color: #333;
}

.btn-login{
  background:#cfe3f2;
  border: 1px solid #9bbad1;
  font-weight: 700;
  color:#000;
}

.sectionLabel{
  font-size: medium;
}

.form-control::placeholder {
  font-size: 14px; 
  color: #999;       
}

button.btn.btn-kakao { background:#ffe600; border:0; color:#000; font-weight:800; }
button.btn.btn-naver { background:#11c20f; border:0; color:#fff; font-weight:800; }
button.btn.btn-signup{ background:#cfe3f2; border:1px solid #9bbad1; color:#000; font-weight:800; }
button.btn.btn-login { background:#cfe3f2; border:1px solid #9bbad1; color:#000; font-weight:700; }


